body {
  padding: 0;
  margin: 0;
}
.editor-view {
  flex-grow: 1;
  border-radius: 2px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 10px;
}

.editor-view > div {
  box-shadow: 0 1px 0 rgba(255,255,255, 1);
  background-color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.editor-view > div label {
  color: #555;
  font-size: 11px;
  min-width: 35px;
  text-align: right;
}
.editor-view > div input {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 10px 5px;
  outline-offset: -4px;
  outline-width: 1px;
  border: 1px solid #b3b3b3;
}
.editor-view > div:last-of-type {
  justify-content: flex-end;
  padding: 5px 0 0;
}
.editor-view button {
  margin-left: 10px;
  background-color: #555;
  color: #fff;
  cursor: pointer;
  border: none;
  width: 100px;
  line-height: 30px;
}

.list-view {
  border-top: 1px solid #ddd;
}

.list-item {
  position: relative;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}

.list-item:nth-of-type(2n + 1) {
  background-color: #f6f6f6;
}

.list-item > div > span:nth-of-type(1) {
  display: inline-block;
  min-width: 26px;
}

.list-item > div span:nth-of-type(2) span {
  font-size: 10px;
  background-color: #555;
  color: #fff;
  padding: 3px 5px;
  position: relative;
  margin-right: 5px;
}

.list-item > div:nth-of-type(5) button {
  cursor: pointer;
  border: none;
  color: #fff;
  background-color: tomato;
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}
.list-item:hover > div:nth-of-type(5) button {
  display: block;
}
